<form action="action_page.php">
    <center><h2> Form Login </h2></center>
    <center><h1 class="tulisan login">Tugas Pertemuan Ketiga</h1></center>

    <form>
        <label>Username</label>
        <input type="text" name="username" class="form login" placeholder="Username atau Email .."/>

        <label>Password</label>
        <input type="text" name="password" class="form login" placeholder="Password .."/>

        <input type="submit" class="tombol_login" value="LOGIN"/>

        <center> <p> <input type='checkbox' name='remember me' value='remember me' /> Remember Me</p></center>

        <center><input type="submit" class="tombol_cancel" value="Cancel"/></center>

        <br/>
    <br/>

</form>