<form action="action_page.php">
    <div class="container">
      <h1>Register</h1>
      <p>Isi semua kolom semua form untuk mendaftar.</p>
      <hr>

      <label for="nama"><b>Nama</b></label>
      <input type="text" placeholder="Enter Nama" name="nama" id="nama" required>

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" id="username" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
  
      <label for="psw-ulang"><b>Ulangi Password</b></label>
      <input type="password" placeholder="Ulangi Password" name="psw-ulang" id="psw-ulang" required>
      <hr>
  
      <button type="submit" class="registerbtn">Register</button>
    </div>
  
    <div class="container signin">
      <p>Sudah punya akun? <a href="#">Login</a>.</p>
    </div>
  </form>